* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background: #1abc9c;
    text-align: center;
    height: 200px;
    color: white;
    padding: 40px;
    
}
.nav-bar {
    background: black;
    display: flex;
    
}
.nav-bar a {
    text-decoration: none;
    color: rgb(245, 241, 241);
    padding: 13px;
    
}
.nav-bar a:hover {
    background-color: lightgrey;
    color: black;
} 
.row {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    
}
.side {
    background-color: rgb(239, 244, 248);
    padding: 20px;
    flex: 30%;
    
}
.main {
    padding: 20px; 
    flex: 70%;  
}

.fakeimg { 
    width: 100%;
    background-color: rgb(161, 159, 159);
    padding: 15px;
}

.footer {
    display: block;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 400px) {
.row, .nav-bar {
    flex-direction: column;

}   
}
